* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general {
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}

.container {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    background-color: red;
}

.left {
    float: left;
    width: 40%;
    height: 100%;
    background-color: gray;
}
.left_header,
.right_header {
    width: 100%;
    height: 70px;
    border: 1px solid black;
    background-color: bisque;
}
.news {
    width: 100%;
    height: 90px;
    background-color: blue;
}
.search {
    width: 100%;
    height: 60px;
    background-color:crimson;
}
.left_main {
    width: 100%;
    height: calc(100% - 60px - 90px - 70px);
    overflow: scroll;
    background-color: darkgoldenrod;
}
.right {
    float: left;
    width: 60%;
    height: 100%;
    background-color: azure;
}
.right_main {
    width: 100%;
    height: 80%;
    float: left;
    overflow: scroll;
    background-color: coral;
}