* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* Istruzioni generali*/
.general {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(green 0px, green 15vh, lightgrey 15vh, lightgray 100%);
}

.container {
    width: 80%;
    min-width: 900px;
    height: 90%;
    margin: auto;
}

/* Istruzioni parte sinistra*/
.left {
    float: left;
    width: 40%;
    height: 100%;
}
.left_header,
.right_header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
}
.left_avatar_container,
.left_account_container {
    align-self: center;
    width: 20%;
}
.left_avatar_container > img,
.right_subject > img {
    width: 60px;
    padding: 5px;
    border-radius: 50px;
}
.left_symbol_container {
    align-self: center;
    width: 60%;
    text-align: right;
    padding-right: 20px;
}
.left_symbol_container > i {
    padding-left: 10px;
    color: grey;
}

.left_header {
    border-right: 1px solid grey;
}
.news {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #8edafc;
}
.bell_container {
    align-self: center;
    text-align: center;
    border-radius: 50px;
    color: #8edafc;
    background-color: white;
    margin: 20px;
}
.bell_container > i {
    width: 100%;
    padding: 20px;
}
.news_txt_container {
    align-self: center;
}
.search {
    width: 100%;
    height: 60px;
    background-color: #f3eeea;
}
.search_container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 10px solid #f3eeea;
    background-color: white;
}
.lent_container {
    align-self: center;
    text-align: center;
    width: 20%;
    color: grey;
}
.input_container {
    width: 80%;
    height: 100%;
}
.input_container > input {
    width: 100%;
    height: 100%;
    border: none;
}
.left_main {
    width: 100%;
    height: calc(100% - 60px - 90px - 70px);
    overflow: scroll;
    background-color: white;
}
li {
    border-top: 1px solid lightgrey;
    
}
li > img {
    width: 10%;
    border-radius: 50px;
    margin: 20px;
}

/* Istruzioni parte destra*/
.right {
    float: left;
    width: 60%;
    height: 100%;
    background-color: #f3eeea;
}
.right_subject {
    float:left;
    align-self: center;
    width: 10%;
}
.right_text {
    float: left;
    align-self: center;
    width: 70%;
    padding-left: 5px;
}
.right_symbol_container {
    align-self: center;
    width: 20%;
    text-align: right;
    padding-right: 20px;
}
.right_symbol_container > i {
    padding-right: 10px;
    color: grey;
}
.right_main {
    width: 100%;
    height: 80%;
    float: left;
    overflow: scroll;
    background-image: url('../img/mine.jpg');
}

.right_footer {
    float: left;
    width: 100%;
    height: calc(100% - 80% - 70px);
}
.right_footer_container {
    display: flex;
    width: 100%;
    height: 100%;
}
.smile_container,
.microphone_container {
    align-self: center;
    text-align: center;
    width: 10%;
}
.smile_container,
.microphone_container > i {
    color: grey;
    font-size: 25px;
}
.input_footer {
    align-self: center;
    text-align: center;
    width: 80%;
}
.input_footer > input {
    width: 100%;
    padding: 15px;
    border: none;
}

/* classi della chat */
.right_main > ul {
    padding: 20px;
}
.right_main > ul > li {
    list-style: none;
}
.sent {
    padding: 20px;
    background-color: lightgreen;
    border-radius: 20px;
    max-width: 50%;
    margin-bottom: 5px;
    margin-right: 20px;
}

.received {
    max-width: 50%;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 20px;
}
.contact:hover {
    background-color: lightgrey;
}

.contact:active {
    background-color: grey;
}